.aboutme-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.aboutme-section:hover {
    transform: scale(1.02);
}

.aboutme-section h2 {
    color: transparent;
    background: linear-gradient(135deg, #6a11cb, #a0a8b5);
    text-align: center;
    background-clip: text;
    margin-bottom: 15px;
}

.aboutme-section p {
    font-size: large;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555;
}

.aboutme-section aside p {
    margin-top: 20px;
    background: linear-gradient(90deg, #fb139b,#80d9ff);
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-style: italic;
}