#contacts {
    margin: 20px;
    color: white;
    font-family: Arial, sans-serif;
}


.icon {
    background-color: white; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
    margin-right: 8px; 
}

.contactLink {
    display: flex;
    justify-content: left;
}


.icon:hover {
    animation: rotate-right 0.5s cubic-bezier(0.4, 0, 0.2, 1); 
    background-color: #f0f0f0; 
}

.icon:not(:hover) {
    animation: rotate-left 0.5s cubic-bezier(0.4, 0, 0.2, 1); 
}


@keyframes rotate-right {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.2) rotate(720deg);
    }
    100% {
        transform: scale(1) rotate(720deg);
    }
}

@keyframes rotate-left {
    0% {
        transform: scale(1.2) rotate(720deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}


.contact-item {
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.contact-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.contact-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    color: white;
}

.contact-form input, 
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    background-color: white ;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #0056b3;
}


.contact-item a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

.contact-item a:hover {
    color: #0056b3;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
}