.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;
    height: 100vh;
    font-size: large;
    background: linear-gradient(90deg, #fb139b,#80d9ff);
    color: white; 
    text-align: center;
    padding: 20px; 

}

.home-header {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
}

.fade-in:nth-child(2) {
    animation-delay: 1s;
}

.fade-in:nth-child(3) {
    animation-delay: 1.5s;
}

.cta-button {
    padding: 12px 24px;
    background-color: #fff;
    color: #6a11cb;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.cta-button:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
    
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}