.header-items{  
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;  
    align-items: center;
  } 
  .header-items>li {
    height: 35px;
    width: 110px;
    color: white;
  }