@import 'variables';



.header-items {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  font-size: large;
  padding: 10px;
  

  li {
    position: relative;
    

    a {
      
      color: $text-color;
      text-decoration: none;
      display: block;
      text-align: center;
      transition: color 0.3s ease; 

      
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: $primary-color;
      transition: width 0.1s ease, left 0.3s ease;
    }

    &:hover::after {
      width: 100%;
      left: 0;
    }
  }
}