@import 'variables';


.project_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .project_card {
        perspective: 1000px;
        width: 80%; 
        height: 400px;
        margin: 1.5%;
        color: $text-color;
        cursor: pointer; 

        .project_card_inner {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.8s;
            transform-style: preserve-3d;

            &:hover {
                transform: rotateY(180deg) scale(1.05);
            }
        }

        .project_card_front,
        .project_card_back {
            position: absolute; 
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 16px;
            border: 1px solid $border-color;

            &.project_card_front {
                z-index: 0;  
                background-image: var(--main-image);
            }

            &.project_card_back {
                transform: rotateY(180deg);
                background-color: $background-container;
                color: $text-color;
                z-index: 1;
                margin: 0;
                display: flex;
                flex-direction: row; 
            }
        }

        .left_part_projcard {
            flex: 1; 
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .right_part_projcard {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
            padding: 16px; 
        }

        .project_images {
            width: auto;
            height: auto;

            .project_image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }

        .project_info {
            text-align: center;

            strong {
                font-size: 1.2em;
            }
        }

    .navigation_buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;   
        
    }

    .nav_button {
        border-color: transparent;
        background-color: transparent;
        color: $text-color;
        border-radius: 50%;
        transition: transform 0.5s ease, background-color 0.5s, box-shadow 0.5s ease;

        &:hover {
            background-color: lighten($primary-color, $color-change-percentage);
            box-shadow: 0px 0px 25px $primary-color;
            
        }
    }

    .github_link {
        margin-top: 10px;
        padding: 8px 16px;
        background-color: $link-color;
        color: $text-color;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none; 
        

        &:hover {
            background-color: darken($link-color, $color-change-percentage);
            
        }
}
}


@media (max-width: 600px) {
    .project_card_back {
        flex-direction: column; 
    }

    .left_part_projcard,
    .right_part_projcard {
        width: 100%; 
    }
}
}