.projects {
  display: flex;
  flex-direction: column;
}

.project_container {
    display: flex;
    flex-wrap: wrap; /* Позволяет карточкам переходить на новую строку */
    justify-content: center; /* Центрируем карточки */
}
