.projects {
  display: flex;
  flex-direction: column;
}

.project_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.project_item {
  position: relative;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  height: 200px;
  width: 100%;
  overflow: hidden;
  background-color:  #2c303a;
}

.project_item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.project_info {
  /*поменять отображение и добавить картинку"=*/ 
  background-color:  #2c303a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;

}

.project_item:hover .project_info {
  opacity: 1;
}

@media (min-width: 768px) {
  .project_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .project_item {
    width: 25%;
  }
}