$text-color: white;

$background-icon-color: white;
$background-color:#1e1f26;
$background-container: #2c303a;



$border-color: #ddd;

$primary-color: #fb139b;
$box-shadow-color: rgba(0, 0, 0, 0.2);

$primary-gradient: linear-gradient(90deg, $primary-color, #80d9ff);


$link-color: #007bff;
